<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--<target name="ASFile" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="10000" batchSize="1000" timeToSleepBetweenBatches="100"/>-->
      <target
        xsi:type="File"
        name="file"
        keepFileOpen="true"
        openFileCacheTimeout="5"
        archiveNumbering="Date"
        archiveEvery="Day"
        archiveDateFormat="yyyyMMdd"
        encoding="iso-8859-2"
        enableArchiveFileCompression="true"
        fileName="C:\Log.log"
        archiveFileName="C:/archive.log" />
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Trace" writeTo="File" />
    </rules>
  </nlog>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>